* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 900px;
    margin: auto;
}
.title {
    background-color: #455b73;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    color: #fff;
    gap: 10px;
    padding: 50px;
    .name {
        margin: auto;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 80%;
        }
        h1 {
            margin: 1rem 0;
        }
        p {
            margin: 0.3rem;
            font-weight: 200;
        }
    }
    .autobiography {
        h2 {
            margin: 3.5rem 0 2rem 0;
            border-bottom: solid 1px #fff;
            padding: 0 0 1rem 0;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
            font-weight: 200;
        }
    }
}

section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem;
    gap: 10px;
    h3 {
        background-color: #455b73;
        color: #fff;
        padding: 3px;
        display: inline-block;
        margin-bottom: 1rem;
    }
    .left {
        h2 {
            color: #455b73;
        }
        h4 {
            margin-bottom: 1rem;
        }
        h5 {
            color: #666;
        }
        p {
            margin: 0.3rem 0 0.7rem 0;
            font-weight: 200;
        }
        .works {
            margin: 0 0 1.5rem 0;
            .work {
                padding-left: 1rem;
                padding-bottom: 0.3rem;
                position: relative;
                &::after {
                    content: "";
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    background-color: #455b73;
                    top: 4px;
                    left: -1px;
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    height: 100%;
                    width: 3px;
                    position: absolute;
                    background-color: #455b73;
                    top: 5px;
                    left: 2px;
                }
            }
        }
        .educationals {
            margin: 0 0 1.5rem 0;
            .educational {
                padding-left: 1rem;
                position: relative;
                &::before {
                    content: "";
                    height: 100%;
                    width: 3px;
                    position: absolute;
                    background-color: #455b73;
                    top: 5px;
                    left: 2px;
                }
            }
        }
    }
    .right {
        h2 {
            color: #455b73;
        }
        h4 {
            display: inline;
            padding-left: 10px;
        }
        h5 {
            color: #666;
            display: inline;
        }
        p {
            margin: 0.3rem 0;
            font-weight: 200;
        }
        .studys {
            margin: 0 0 1.5rem 0;
            span {
                color: #455b73;
                font-weight: 500;
            }
            .study {
                padding-left: 1rem;
                position: relative;
                &::before {
                    content: "";
                    height: 100%;
                    width: 3px;
                    position: absolute;
                    background-color: #455b73;
                    top: 5px;
                    left: 2px;
                }
            }
        }
        .skills {
            margin: 0 0 1.5rem 0;
            div {
                padding-left: 1rem;
                position: relative;
                &::before {
                    content: "";
                    height: 100%;
                    width: 3px;
                    position: absolute;
                    background-color: #455b73;
                    top: 5px;
                    left: 2px;
                }
            }
        }
        .portfolio {
            a {
                text-decoration: none;
            }
            .show {
                display: grid;
                grid-template-columns: 1fr 2fr;
                height: 145px;
                gap: 10px;
                cursor: pointer;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                border-bottom: solid 1px #455b73;
                &:last-child {
                    border-bottom: none;
                }
                .showimg {
                    overflow: hidden;
                    position: relative;
                    img {
                        // height: 100%;
                        width: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .showtext {
                    margin: auto;
                    h4 {
                        padding: 0;
                        color: #455b73;
                    }
                    p {
                        color: black;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    section , .title {
        grid-template-columns: 1fr;
    }
    section .right .portfolio .show {
        height: 310px;
        grid-template-columns: 1fr;
    }
}